mat-card-header{
    border: 3px ;
    display: flex;
    background-color: black;
    color:white;
    justify-content: center;
  
    
  }
  mat-card-title{
    margin-top:10px;
  }
  .example-action-buttons {
    padding-bottom: 40px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.7);
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  mat-card{
    background-color: rgba(255,255,255,0.7)!important;

  }
  mat-expansion-panel{
    background-color: rgba(255,255,255,0)!important;
    
    

  }
  
 