<mat-card>
  <mat-card-header>
    <mat-card-title>
      About
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item id="div1">
        <span>Name: </span>
        {{about?.name}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Status: </span>
         {{about?.status}}</mat-list-item>
      <mat-divider> </mat-divider>
      <mat-list-item> 
        <span>Email: </span>
        {{about?.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item> 
        <span>D.O.B: </span>
        {{about?.dob}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
</mat-card-content>
</mat-card>