<mat-card>
    <mat-card-header>
      <mat-card-title>
       Interests
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Dancing</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Travelling</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Logical programming</mat-list-item>
        <mat-divider></mat-divider>
     
       
       
      </mat-list>
  </mat-card-content>
  </mat-card>
