.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 170px;
  
  
}

.sidenav .mat-toolbar {
  background:inherit;
  background-color:inherit;
  height:170px;

  background-image: url("../../assets/silky.JPG");
border-radius: 70%;
background-repeat: no-repeat;
background-position: 10 center;
background-size: 170px;
} 


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-divider{
border-top-color: black!important;
border-top-width: 3px;


}
.mat-sidenav-content .mat-toolbar{
  background-color:	 black;
}
span {
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: antialased;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  

}

a:hover{
 background-color: black !important;
 color:white;

}
a{
  margin-bottom: 15px;
}
mat-icon{
  padding-right: 5px;
}
mat-divider{
  border-top-color:  white !important;
  border-top-width: 3px;
  /* margin-top: 10px; */
}
.spacer{
  flex:1 1 auto;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color:black;
  /* background: #111; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

/* .glow-on-hover:active {
  color: #000
} */

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
  color:black
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}





 
