<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode= 'side' fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="hidee">
    <mat-toolbar>
     
      <mat-divider></mat-divider>
    </mat-toolbar>
    
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]='["/home"]' routerLinkActive="active"(click)="sidenavhide()" >
       
        <mat-icon class="icon-display" aria-label="Example home icon">home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item [routerLink]='["/about"]' routerLinkActive="active" (click)="sidenavhide()">
        <mat-icon class="icon-display" aria-label="Example home icon" >person</mat-icon>
      <span>About</span></a>
      <a mat-list-item [routerLink]='["/education"]' routerLinkActive="active" (click)="sidenavhide()">
      <mat-icon  class="icon-display" aria-hidden="false" aria-label="Example home icon">school</mat-icon>
      <span>Education</span></a>
      <a mat-list-item [routerLink]='["/skills"]' routerLinkActive="active" (click)="sidenavhide()" >
      <mat-icon  class="icon-display" aria-hidden="false" aria-label="Example home icon">work</mat-icon>
      <span>Skills</span></a>
      <a mat-list-item [routerLink]='["/interest"]' routerLinkActive="active" (click)="sidenavhide()">
      <mat-icon  class="icon-display" aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <span>Interests</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    SILKY(System Engineer)
  
    </mat-toolbar>
  
   <div class="ngc">
    <ng-content></ng-content>
   </div>


    
 
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
